# --- Gradle ---
.gradle/
build/

# --- Java/Compiled ---
bin/
*.class

# --- IDEs ---
# Eclipse
.settings/
.project
.classpath
# IntelliJ IDEA
.idea/
*.iml
# VS Code (Ignora tutto tranne le impostazioni del progetto)
.vscode/*
!.vscode/settings.json

# --- LaTeX (File generati in /doc) ---
*.aux
*.log
*.toc
*.synctex.gz
*.out
*.fls
*.fdb_latexmk
*.bbl
*.blg

# --- OS ---
.DS_Store
Thumbs.db